{% if Fuel_vendors.has_other_pages %}
<table class="w-full text-left ">
    <thead class="bg-white">
      <tr >
        <th scope="col" class="relative isolate py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">
          Invoice
          <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-b-gray-200"></div>
          <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-b-gray-200"></div>
        </th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Date</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Flight</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Dep</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Arr</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Reg</th>
        <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">Vendor</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Uplift_in_Lts</th>
        <!-- <th scope="col" class="relative py-3.5 ">
          <span class="sr-only">Edit</span>
        </th> -->

      </tr>
    </thead>
    <tbody>
      {% for _ in '12345' %}
      <tr class="">
        <td class="relative py-4 pr-3 text-sm font-medium text-gray-900">
          KO12AB
        </td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Date</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Flight</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Dep</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Arr</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Reg</td>
        <td class="hidden px-3 py-4 text-sm text-gray-500 md:table-cell">Vendor</td>
        <td class="px-4 py-2">
          <span class="rounded-md whitespace-nowrap mt-0.5 px-2 py-0.5 text-sm text-center font-medium  text-red-700 bg-green-100">16000</span> |
          <span class="rounded-md whitespace-nowrap mt-0.5 px-2 py-0.5 text-sm text-center font-medium   bg-red-100">16000</span>
        </td>
        <!-- <td class="relative py-4 text-right text-sm font-medium ">
          <a href="#" class="text-indigo-600 hover:text-indigo-900 pr-10">Edit<span class="sr-only"></span></a>
        </td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="container mx-auto mt-10">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2 bg-gray-200">Flight</th>
                <th class="px-4 py-2 bg-gray-200">Dep</th>
                <th class="px-4 py-2 bg-gray-200">Arr</th>
                <th class="px-4 py-2 bg-gray-200">Reg</th>
                <th class="px-4 py-2 bg-gray-200">A/C Type</th>
                <th class="px-4 py-2 bg-gray-200">Uplift_in_Lts</th>
                <th class="px-4 py-2 bg-gray-200">Uplift_in_Usq</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="px-4 py-2">QZ8501</td>
                <td class="px-4 py-2">DMK</td>
                <td class="px-4 py-2">CGK</td>
                <td class="px-4 py-2">PK-AZI</td>
                <td class="px-4 py-2">320</td>
                <td class="px-4 py-2">
                    <span class="bg-red-500 text-white px-2 py-1">16000</span> /
                    <span class="bg-green-500 text-white px-2 py-1">16000</span>
                </td>
                <td class="px-4 py-2">4024.4</td>
            </tr>
            <tr>
                <td class="px-4 py-2">QZ8502</td>
                <td class="px-4 py-2">DMK</td>
                <td class="px-4 py-2">CGK</td>
                <td class="px-4 py-2">PK-AZJ</td>
                <td class="px-4 py-2">320</td>
                <td class="px-4 py-2">
                    <span class="bg-red-500 text-white px-2 py-1">12700</span>
                </td>
                <td class="px-4 py-2">3355.2</td>
            </tr>
            <tr>
                <td class="px-4 py-2">QZ8503</td>
                <td class="px-4 py-2">DMK</td>
                <td class="px-4 py-2">CGK</td>
                <td class="px-4 py-2">PK-AZT</td>
                <td class="px-4 py-2">320</td>
                <td class="px-4 py-2">
                    <span class="bg-red-500 text-white px-2 py-1">14002</span> /
                    <span class="bg-green-500 text-white px-2 py-1">14000</span>
                </td>
                <td class="px-4 py-2">3352.2</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}


<div class="mt-8">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
      <h2 class="text-lg font-medium leading-6 text-gray-900">Overview</h2>
      <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Card -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <div class="p-5">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0012 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 01-2.031.352 5.988 5.988 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0l2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 01-2.031.352 5.989 5.989 0 01-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971z" />
                </svg>
              </div>
              <div class="ml-5 w-0 flex-1">
                <dl>
                  <dt class="truncate text-sm font-medium text-gray-500">Account balance</dt>
                  <dd>
                    <div class="text-lg font-medium text-gray-900">$30,659.45</div>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-5 py-3">
            <div class="text-sm">
              <a href="#" class="font-medium text-cyan-700 hover:text-cyan-900">View all</a>
            </div>
          </div>
        </div>









        <div class="flex justify-center">
          <div class="overflow-x-auto">
            <table class="table-auto border-collapse border border-gray-400">
              <thead>
                <tr>
                  <th class="px-4 py-2 border border-gray-400" colspan="2">Uplift in Lts</th>
                </tr>
                <tr>
                  <th class="px-4 py-2 border border-gray-400">By Vendor</th>
                  <th class="px-4 py-2 border border-gray-400">By IAA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">3</td>
                  <td class="px-4 py-2 border border-gray-400">3</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">4</td>
                  <td class="px-4 py-2 border border-gray-400">4</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">5</td>
                  <td class="px-4 py-2 border border-gray-400">5</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">3</td>
                  <td class="px-4 py-2 border border-gray-400">3</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">2</td>
                  <td class="px-4 py-2 border border-gray-400">2</td>
                </tr>
                <tr>
                  <td class="px-4 py-2 border border-gray-400">1</td>
                  <td class="px-4 py-2 border border-gray-400">7</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>