<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Export PDF</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h1 style="color: #252525;font-size: 20px;margin-bottom: 10px; " >Hasil rekonsiliasi data pembelian minyak </h1>
    <div style="display: flex; flex-direction: column; ">
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; font-weight:bold;">Total Uplift in Lts by IAA: {{ total_occ|floatformat:"-0" }} </p>
        </div>
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; font-weight:bold;">Total Uplift in Lts by Pertamina: {{ total_vendor|floatformat:"-0" }} </p>
        </div>
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; border-bottom: 1px solid #837f7f; font-weight:bold;">Total Selisih: {{ total_selisih|floatformat:"-0" }} </p>
        </div>
    </div>
    
   
    
    <table style="width: 100%;border-collapse: collapse;margin-top: 50px; margin-bottom: 40px;">
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Invoice</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Date</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Flight</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Dep</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Arr</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Reg</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Vendor Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift by OCC</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift by Vendor</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Selisih</th>        
            </tr>
        </thead>
        <tbody>
            {% for missing_data_occ, missing_data_vendor, selisih in zipped_data %}
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Invoice }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Date }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Flight }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Dep }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Arr }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Reg }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_data_occ.Fuel_Agent }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ missing_data_occ.Uplift_in_Lts|floatformat:"-0" }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ missing_data_vendor.Uplift_in_Lts|floatformat:"-0" }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ selisih|floatformat:"-0"  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="invoice" style="color:black;font-size:12px;"><span style="color: rgb(233, 48, 48);">***</span> Invoice yang tidak terdapat pada rekapan IAA</p>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Invoice</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Date</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Flight</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Dep</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Arr</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Reg</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Vendor Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift in Lts</th>
            </tr>
        </thead>
        <tbody>
            {% for missing_invoice_vendor  in missing_invoice_vendor %}
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Invoice }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Date|date:"Y/m/d" }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Flight }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Dep }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Arr }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Reg }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing_invoice_vendor.Vendor }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ missing_invoice_vendor.Uplift_in_Lts|floatformat:"-0" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="color: #252525;margin-top: 30px;margin-bottom: 20px;text-align: right;float: right;font-weight: 600;font-size: large;">
        <dt class="">Total Uplift in Lts : {{ total_missing_invoice_vendor|floatformat:"-0" }} </dt>
    </div>
</body>
</html>
