{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Export PDF</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h1 style="color: #252525;font-size: 20px;margin-bottom: 10px; " >Hasil rekonsiliasi data pembelian minyak </h1>
    <div style="display: flex; flex-direction: column; ">
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; font-weight:bold;">Total Uplift in Lts by IAA: {{ latest_result.total_uplift_in_lts_occ|floatformat:"-0"|intcomma }} </p>
        </div>
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; font-weight:bold;">Total Uplift in Lts by Pertamina: {{ latest_result.total_uplift_in_lts_ven|floatformat:"-0"|intcomma }}</p>
        </div>
        <div class="total">
            <p style="color: #252525; font-size: 12px; text-align: left; border-bottom: 1px solid #837f7f; font-weight:bold;">Total Selisih: {{ latest_result.total_selisih|floatformat:"-0"|intcomma }}</p>
        </div>
    </div>
    <table style="width: 100%;border-collapse: collapse;margin-top: 50px; margin-bottom: 40px;">
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Invoice</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Date</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Flight</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Dep</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Arr</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Reg</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Vendor Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift by OCC</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift by Vendor</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Selisih</th>        
            </tr>
        </thead>
        <tbody>
            {% for detail_result in latest_detail_results %}
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.invoice_no }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.date_occ|date:"Y-m-d" }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.flight_occ }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.departure_occ }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.arrival_occ }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.registration_occ }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ detail_result.fuel_agent }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ detail_result.uplift_in_lts_occ|floatformat:"-0"|intcomma }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ detail_result.uplift_in_lts_ven|floatformat:"-0"|intcomma }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ detail_result.selisih|floatformat:"-0"|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if latest_missing_invoices_in_vendor %}
    <p class="invoice" style="color:black;font-size:12px;"><span style="color: rgb(233, 48, 48);">***</span>Data dari {{ latest_result.fuel_agent }} Tidak Ditemukan dalam Rekaman IAA.</p>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Invoice</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Date</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Flight</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Dep</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Arr</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Reg</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Vendor Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift in Lts</th>
            </tr>
        </thead>
        <tbody>
            {% for missing  in latest_missing_invoices_in_vendor %}
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.invoice_no }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.date|date:"Y-m-d" }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.flight }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.departure }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.arrival }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.registration }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.fuel_agent }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ missing.uplift_in_lts|floatformat:"-0"|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="color: #252525;margin-top: 30px;margin-bottom: 20px;text-align: right;float: right;font-weight: 600;font-size: large;">
        <dt class="">Total Uplift in Lts : {{ total_missing_invoices_in_vendor|intcomma }}</dt>
    </div>
    {% endif %}



    {% if latest_missing_invoices_in_occ %}
    <p class="px-6 mt-2 text-sm text-gray-700"><span style="color: rgb(233, 48, 48);">***</span>Data dalam rekaman IAA tidak terdapat pada tagiahan {{ latest_result.fuel_agent }} </p>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Invoice</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Date</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Flight</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Dep</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Arr</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Reg</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Vendor Name</th>
                <th style="border: 1px solid #dddddd;text-align: left;padding: 4px;background-color: #f2f2f2;">Uplift in Lts</th>
            </tr>
        </thead>
        <tbody>
            {% for missing  in latest_missing_invoices_in_occ %}
            <tr>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.invoice_no }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.date|date:"Y-m-d" }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.flight }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.departure }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.arrival }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.registration }}</td>
                <td style="border: 1px solid #dddddd;text-align: left;padding: 4px;">{{ missing.fuel_agent }}</td>
                <td style="border: 1px solid #dddddd;text-align: center;padding: 4px;">{{ missing.uplift_in_lts|floatformat:"-0"|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="color: #252525;margin-top: 30px;margin-bottom: 20px;text-align: right;float: right;font-weight: 600;font-size: large;">
        <dt class="">Total Uplift in Lts : {{ total_missing_invoices_in_occ|intcomma }}</dt>
    </div>
    {% endif %}
</body>
</html>
